<!DOCTYPE html>
<html lang="es">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Unidades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>


<body>
    <h1>CONVERSOR DE UNIDADES</h1>
    <p class="subtitulo">Hecha por Geiboys team </p>



     <form method="post">
        <select name ="tipo" id="tipo" onchange="cambiarunidades()">
    <option value ="temperatura">Temperatura</option>
    <option value ="distancia">Distancia</option>
    <option value ="peso">Peso</option>
        </select> 
        
        <input type="number" name="valor" placeholder="Ingrese el valor" required>

        <select name="origen" id="origen">
            <option value="C">Celsius</option>
            <option value="K">Kelvin</option>
            <option value="F">Fahrenheit</option>
        </select>
        
        

        <select name="destino" id="destino">
            <option value="C">Celsius</option>
            <option value="K">Kelvin</option>
            <option value="F">Fahrenheit</option>
        </select>
        <button type="submit">Convertir</button>
     </form>
     <script>
    function cambiarunidades() {

        var tipo = document.getElementById("tipo").value;
        var origen = document.getElementById("origen");
        var destino = document.getElementById("destino");

     
        origen.innerHTML = "";
        destino.innerHTML = "";

        var unidades = [];
        if (tipo === "temperatura") {
            unidades = ["C", "K", "F"];
        } else if (tipo === "distancia") {
            unidades = ["mm","cm","in","ft","m","km","mi"];
        } else if (tipo === "peso") {
            unidades = ["oz","g","kg","lb"];
        }

        unidades.forEach(function(unidad) {

            let option1 = new Option(unidad, unidad);
            let option2 = new Option(unidad, unidad);

            origen.add(option1);
            destino.add(option2);
        });
    }

   
    window.onload = cambiarunidades;
     </script>

     {% if resultado is not none %}
        <h2>Resultado: {{ resultado }}</h2>
        {% endif %}
   
<p class="texto">Creadores:</p>

<div class="contactos-inferior">
    <div class="burbuja" data-info="Antonio - El sillon">
        <img src="static/antonio.jpeg" class="contacto">
    </div>
    <div class="burbuja" data-info="Angelito - El chico down">
        <img src="static/angelito.jpeg" class="contacto">
    </div>
    <div class="burbuja" data-info="Betito - Dueño del z">
        <img src="static/betito.jpeg" class="contacto">
    </div>
    <div class="burbuja" data-info="Pedrito - Mestro de bioquimica">
        <img src="static/pedrito.jpeg" class="contacto">
    </div>
    <div class="burbuja" data-info="GG - Amante de gestion e industrial">
        <img src="static/gg.jpeg" class="contacto">
    </div>
</div>


</body>
</html>


<!--Este comando pone texto en el codigo-->
<!-- el comando "class" hace que lo puda pesonalizar en el css -->
<!--El comando h(numero) sirve para ingresar un titulo-->